@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.css";

:root {
  --background: #112C81;
  --foreground: white;
}

div {
  text-align: center;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0c5ab9;
}

p.orange {
  color: #f8af6a;
}

p {
  color: white;
}

a {
  margin: 20px;
  color: white;
}

input {
  color: black;
}

h1 {
  color: white;
  font-size: larger;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #112C81;
    --foreground: #91dbf2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

textarea {
  color: black;
}

.collapse {
  visibility: visible;
}

/* Checkbox Class */
.custom-checkbox {
  display: block;
  text-align: left;
  margin-left: 0;
}

.custom-checkbox input[type="checkbox"] {
  margin-right: 10px;
  /* Adds space between the checkbox and the label text */
}

.custom-checkbox label {
  display: inline-block;
  /* Ensures the label stays next to the checkbox */
  text-align: left;
  color: black;
}